#container-formuler{
    width: 100%;
    background-color: rgb(209, 178, 157);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#formuler{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 90%;
}

#parent-nom-prenom{ 
    width: 50%;
    padding: 50px;
}

#parent-email{
    width: 50%;
    padding-bottom: 50px;
}

#parent-telephone{
    width: 50%;
    padding-bottom: 50px;
}

#parent-objet {
    width: 50%;
    padding-bottom: 50px;
}

#parent-textarea{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#parent-textarea > textarea {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}


input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span{
    color: red;
}

#parent-button-formuler{
    margin-top: 25px;
    width:50%;
    display: block;
}

#parent-button-formuler > button{
    border: none;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold; 
}