body{
    --color-un:#eb5846;
    --color-deux: #ffec34;
    background-color: rgb(193, 232, 219);
}

/* ***************************** header */
#container-header{
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > #logo{
    width: 10%;
    padding-left: 35px;
}

#recherche{
    width: 20%;
    display: flex;
    justify-content: center;
}

::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
  }

#searchInput{
    width: 50%;
}

/* ****************************** le menu vers d'autre onglais dans header */
#menu-lien a {
    margin: 0 3px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 45px;
    background-color: #eb5846;
    color: white;
    border: 2px solid black;
    text-transform: uppercase;
}
  
#menu-lien a:hover {
    color: darkblue;
}

#searchInput{
    border: solid 1px;
}

/* ************************* que fait ce partie dans header? demande à Solen et Marc  */
#first-column a:hover {
    background-color: rgb(233, 130, 130);
    color: #280004;
}

#extra-column {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
  
#preinscription {
    background-color: yellow;
    padding: 8px;
    border: 2px solid black;
    margin-right: 5px;
}
  
#communication {
    background-color: #eb5846;
    color: white;
    padding: 8px;
    margin-right: 3px;
    border: 2px solid black;
}

#menu-lien #preinscription:hover,
#menu-lien #communication:hover {
  background-color: whitesmoke;
  color: black;
}

.menu-fin {
    display: flex;
    align-items: flex-start;
    margin: 15px 0;
}

/* ***************************** fin header */

/* ***************************** formuler */
#container-formuler{
    width: 100%;
    background-color: rgb(209, 178, 157);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#formuler{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    width: 90%;
}

#parent-nom-prenom{ 
    width: 50%;
    padding: 50px;
}

#parent-email{
    width: 50%;
    padding-bottom: 50px;
}

#parent-telephone{
    width: 50%;
    padding-bottom: 50px;
}

#parent-objet {
    width: 50%;
    padding-bottom: 50px;
}

#parent-textarea{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#parent-textarea > textarea {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}


input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span{
    color: red;
}

#parent-button-formuler{
    margin-top: 25px;
    width:50%;
    display: block;
}

#parent-button-formuler > button{
    border: none;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    font-size: large;
    font-weight: bold; 
}
/* **************************** fin formuler */

/* **************************** contenu de page */
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
/* **************************** contenu de page1 */
#container-page1{
    background-color: var(--color-un);
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}

#parent-titre-page1{
    width: 40%;
    height: 100%;
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.titre-page1{
    color: var(--color-deux);
    padding-left: 20px;
    display: flex;
    font-size: 40px;
}

#parent-titre-page1 > #container-buttos-texts {
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

#container-buttos-texts > .container-buttos-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;

}

.sous-page1{
    color: var(--color-deux);
    display: flex;
    font-size: 30px;
    margin-top: 12px;
}

.buttonsinfo{
    width: 15%;
    height: 60px;
    margin-left: 15px;
    background-image: url(./image/plus\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
}

.container-titre-paragraph{
    width: 85%;
}

.paragraphs {
    display: none;
    margin: 0;
}

#parent-video-page1{
    width: 60%;
    display: flex;
    justify-content: center;
 
}

#parent-video-page1 > #video-controler-page1{
    width: 98%;
    height: 600px;
    padding: 5px;
}

#parent-video-page1 > #video-controler-page1 > #video-page1{
    width: 95%;
    height: 100%;
    border-radius: 3px;
}

/* **************************** fin contenu de page1 */

/* **************************** contenu de page2 */

#parent-titre-page2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#parent-titre-page2 > h1{
    color: var(--color-un);
}

/* **************************** fin contenu de page2 */
/* **************************** footer page */
.menu-fin{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.menu-fin:first-child{
    display: flex;
    align-items: flex-end;
}
.blocrouge {
    background-image: url("./image/telephone-encadre.png");
    background-size: 85%;
    background-repeat: no-repeat;
    width: 50%;
    height: 313px;
    display: flex;
    flex-direction: column;
}

#container-image-paragraph-footer {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

#container-contacte{
display: flex;
}

#container-contacte > img {
    width: 5%;
    padding-top: 60px;
    padding-left: 40px;
}
  

#container-image-paragraph-footer > #numero {
    font-weight: bold;
    font-size: 30px;
    padding-left: 17px;
    color: white;
}

#container-image-paragraph-footer > img{
    width: 60%;
    padding-left: 86px;
    margin-bottom: -40px;
    margin-top: -108px;
}

#container-reseaux{
    width: 50%;
}

#container-reseaux > a > img{
    width: 10%;
    padding: 40px;
}
  
.carte {
width: 30%;
height: 400px;
}
  
.footpic {
width: 33px;
height: 50px;
}
  
.footer-links {
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

.footer-links > p {
    font-weight: bold;
}

/* **************************** fin footer */

/* **************************** responsive */
/* **************************** max 1300 */
@media (max-width: 1300px) and (min-width: 1000px) {
    #parent-video-page1{
        width: 60%;
        display: flex;
        justify-content: center;
     
    }
    
    #parent-video-page1 > #video-controler-page1{
        width: 98%;
        height: 400px;
        padding: 5px;
    }
    
    #parent-video-page1 > #video-controler-page1 > #video-page1{
        width: 95%;
        height: 100%;
        border-radius: 3px;
    }
}
/* **************************** fin max 1300 */

/* **************************** fin responsive */