body {
  font-family: sans-serif;
}

#container {
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-lien a {
  margin: 0 3px;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 45px;
  background-color: #eb5846;
  color: white;
  border: 2px solid black;
  text-transform: uppercase;
}

#menu-lien a:hover {
  color: darkblue;
}

#first-column a:hover {
  background-color: rgb(233, 130, 130);
  color: #280004;
}

#extra-column {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

#preinscription {
  background-color: yellow;
  padding: 8px;
  border: 2px solid black;
  margin-right: 5px;
}

#communication {
  background-color: #eb5846;
  color: white;
  padding: 8px;
  border: 2px solid black;
}

#menu-lien #preinscription:hover,
#menu-lien #communication:hover {
  background-color: whitesmoke;
  color: black;
}

.menu-fin {
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
}

.blocrouge {
  background-image: url("images/telephone-encadre.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  padding: 25px;
  display: flex;
  align-items: center;
}

#numero {
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

.carte {
  width: 50%;
}

.footpic {
  width: 33px;
  height: 33px;
}

.footer-links {
  margin: 15px;
  text-align: center;
}
